@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://thietke6d.com/wp-content/uploads/2021/04/Mau-banner-quang-cao-tra-sua-12.png" height="400px" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://th.bing.com/th/id/OIP.zMnk5p6OBGKOh4mdrsVVzAHaE7?pid=ImgDet&w=5324&h=3549&rs=1" height="400px" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://1.bp.blogspot.com/-qLSbbj_kav8/XXkmRRMTuQI/AAAAAAAAYgg/LQR330fVB9k4dj8el-YtG0Sb5GE2DTXPwCLcBGAsYHQ/s1600/moonleaf%2Bmilk%2Btea%2Biloilo%2B01.jpg" height="400px" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row py-4">
        <div class="col-12 col-md-4">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/xmeZ0i5p-7U?si=cBNgCZmi2Iy17kBb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-12 col-md-4">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/xmeZ0i5p-7U?si=cBNgCZmi2Iy17kBb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

</div>